.card-img-top {
  object-fit: contain;
  height: 250px;
  background-color: #fff; /* Fondo blanco por si la imagen tiene transparencia */
  padding: 1rem;
  border-bottom: 1px solid #eee;
}
.search-wrapper {
  display: flex;
  justify-content: center;
}

.input-group {
  width: 100%;
  max-width: 400px; /* Tamaño deseado del buscador */
}

.custom-search {
  border: 2px solid #555 !important;
  border-radius: 10px 0 0 10px !important;
}

.btn-outline-secondary {
  border: 2px solid #555 !important;
  border-left: none !important;
  border-radius: 0 10px 10px 0 !important;
}
.hidde{
  display: none;
}
.show{
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
.newSize{
  width: 12em;
}
.oldSize{
  width: 8em;
}

.acomodar{
  position: fixed;
  top: 3.6em;
  right: 0em;
}